# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI specific
instance/
.webassets-cache

# Logs
*.log

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# poetry
poetry.lock
poetry.toml

# PEP 582
__pypackages__/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache/

# LSP config files
pyrightconfig.json

# Config files
.config.yml

# Data files
data/
!data/.gitkeep
!/visflow/providers/
!/data/train/README.md
!/data/val/README.md
!/data/test/README.md
